@model FHubPanel.Models.VendorSliderModel

@{
    //ViewBag.Title = "Manage";
}


<div class="content-wrapper" style="min-height: 946px;">

    <section class="content">
        @using (Html.BeginForm("Save", "VendorSlider", FormMethod.Post, new { id = "myform", @class = "", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="col-md-12">
                                <div class="box-header with-border box-info">
                                    <i class="@ViewBag.Icon"></i>
                                    <h3 class="box-title"><b>@ViewBag.MasterType</b> </h3>
                                </div>
                                @Html.HiddenFor(Model => Model.SliderId)
                                @Html.HiddenFor(Model => Model.SliderImg)
                                @Html.HiddenFor(Model => Model.RefVendorId)
                                @Html.HiddenFor(Model => Model.Category)
                                @Html.HiddenFor(Model => Model.InsUser)
                                @Html.HiddenFor(Model => Model.InsTerminal)
                                @Html.HiddenFor(Model => Model.InsDate)
                                @Html.HiddenFor(Model => Model.UpdUser)
                                @Html.HiddenFor(Model => Model.UpdTerminal)
                                @Html.HiddenFor(Model => Model.UpdDate)

                                <div class="col-md-12">
                                    <div class="col-md-12 ">
                                        <div class="row" style="margin-top:10px !important">
                                            <img id="imgLogo" src="@Html.DisplayFor(Model => Model.FullImgPath)" class="center-block" style="max-width:100%" />
                                            <div class="form-group">
                                                <input type="file" name="fileLogo" id="fleLogo" class="center-block" value="" style="margin-top: 10px;" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Title</label>
                                            @Html.TextBoxFor(Model => Model.SliderTitle, new { @class = "form-control", @maxlength = 100 })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Url</label>
                                            @Html.TextBoxFor(Model => Model.SliderUrl, new { @class = "form-control", @maxlength = 100 })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category</label>
                                            @Html.DropDownList("CategoryList", new SelectList((IEnumerable<SelectListItem>)ViewData["CategoryList"], "Value", "Text"), new { @class = "form-control select2", multiple = "multiple" })
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Order No</label>
                                            @Html.TextBoxFor(Model => Model.Ord, new { @class = "form-control", @maxlength = 2 })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Display Page</label>
                                            @Html.DropDownList("DisplayPage", new List<SelectListItem>{
                                                        new SelectListItem{ Text = "Home", Value = "Home"},
                                                        new SelectListItem{ Text = "Catalogue", Value = "Catalog"},
                                                        new SelectListItem{ Text = "Product", Value = "Product"}
                                                    }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Display Start Date <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(Model => Model.StartDate, "{0:dd/MMM/yyyy}", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Display End Date <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(Model => Model.EndDate, "{0:dd/MMM/yyyy}", new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <input id="btnSubmit" type="submit" value="Submit" class="btn btn-primary btn-flat" onclick="return Validation();" />
                            @*<button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("index", "setup") + "'");">Cancel</button>*@
                            @*@Html.ActionLink("cancel", "index", new { @class = "btn btn-primary" })*@
                            <button id="btnCancel" name="btnCancle" class="btn bg-orange margin btn-flat" onclick="window.location.href = '/VendorSlider/Index'; return false;">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>

        }
    </section>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        if ('@TempData["Warning"]' != '') {
            toastr["warning"]('@TempData["Warning"]');
        }
        else if ('@TempData["Error"]' != '') {
            toastr["error"]('@TempData["Error"]');
        }

        $(".select2").select2();

        //function formatState(state) {
        //    if (!state.id) { return state.text; }
        //
        //    var $state = $(
        //      //'<div style="color:' + state.element.value.toLowerCase() + '; width:100%" > <div  style="background-color:' + state.element.value.toLowerCase() + '; max-width:30% !important" ></div>' + state.text + '</div>'
        //      '<span><img style="background-color:' + state.text.toLowerCase().split('/')[0] + ';border:1px;border-style:solid" src="/Content/dist/img/selectcolor.png" class="img-flag" /> ' + state.text.split('/')[1] + '</span>'
        //    );
        //    return $state;
        //};

        //function formatselection(val) {
        //    return val.id;
        //};

        //$("#CategoryList").select2({
        //    templateResult: formatState,
        //    templateSelection: formatselection
        //});



        //while(_strlen > 0 )
        //{
        //    var _Colorstr = $("#RefColor").val().substring(1, $("#RefColor").val().length - 1)
        //}
        var _Category = $("#Category").val().split(",");
        $("#CategoryList").val(_Category).trigger('change');
        //$("#RefSizeList").val("["+$("#RefSize").val()+"]").trigger('change');

        $("#StartDate").datepicker(
            {
                format: 'dd/M/yyyy',
                autoclose: true,
                todayBtn: true,
                //clearBtn: true,
                todayHighlight: true,
                //setStartDate: moment().format('DD/MMM/YYYY')
            }
            );
        $("#EndDate").datepicker(
            {
                format: 'dd/M/yyyy',
                autoclose: true,
                //clearBtn: true,
                todayBtn: true,
                todayHighlight: true,
                //setStartDate: moment().format('DD/MMM/YYYY')
            }
            );

        $("#fleLogo").change(function () {

            imgDisplay(this);
        });
    });

    function imgDisplay(input) {
        if (input.files && input.files[0]) {
            if ((input.files[0].size / 1024) <= 1024) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#imgLogo").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $("#fleLogo").val('');
                toastr["warning"]('Image size must be lessthan 1 MB.');
            }
        }
    }

    function Validation() {
        var _ImgFile;
        if ($("#SliderId").val() == 0)
            _ImgFile = $("#fleLogo");
        else
            _ImgFile = $("#SliderImg");

        if (_ImgFile.val() == '' || _ImgFile == undefined) {
            _ImgFile.focus();
            toastr["warning"]('Image can not left blank!');
            return false;
        }
        else if ($("#StartDate").val() == '' || $("#StartDate") == undefined) {
            $("#StartDate").focus();
            toastr["warning"]('Start date can not left blank!');
            return false;
        }
        else if ($("#EndDate").val() == '' || $("#EndDate") == undefined) {
            $("#EndDate").focus();
            toastr["warning"]('End date can not left blank!');
            return false;
        }

        var _Categorylist = '';
        for (var i = 0; i < $("#CategoryList").select2('data').length; i++) {
            if (i == 0)
                _Categorylist = $("#CategoryList").select2('data')[i].text;
            else
                _Categorylist += ',' + $("#CategoryList").select2('data')[i].text;
        }
        //console.log(_Colorlist);
        $("#Category").val(_Categorylist)

        return true;
    }

</script>