@using Microsoft.AspNet.Identity
@model FHubPanel.Models.ManageUserViewModel

@*<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>*@

@using (Ajax.BeginForm("Manage", "Account", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "FunBegin", OnSuccess = "FunSuccess", OnFailure = "FunFailure" }, new { @class = "", id = "", role = "form" }))
{
    <div id="divChangePassword" class="modal extended-modal fade no-display" tabindex="-1" data-width="800" data-height="400" style="z-index: 2000 !important">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-light-blue">

                    <button type="button" class="close" id="btnClose" data-dismiss="modal" aria-hidden="true">
                        &times;

                    </button>
                    <h4 class="modal-title">Change Password of <label id="lblAUName">@Session["UserName"]</label></h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary()

                            <div class="row">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.OldPassword)
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.NewPassword)
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="dialogButtonYes" name="dialogButtonYes" class="btn btn-primary dialogButton" type="submit" >Save</button>
                    <button id="dialogButtonNo" name="dialogButtonNo" data-dismiss="modal" class="btn btn-default pull-righ dialogButton" type="button">Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
}

<script>
    function FunBegin() {
        

        var _OldPassword = $("#OldPassword");
        if (_OldPassword.val() == '' || _OldPassword == undefined) {
            _OldPassword.focus();
            toastr["warning"]('Current Password can not left blank!');
            return false;
        }

        var _NewPassword = $("#NewPassword");
        if (_NewPassword.val() == '' || _NewPassword == undefined) {
            _NewPassword.focus();
            toastr["warning"]('New Password can not left blank!');
            return false;
        }
        if (_NewPassword.val().length < 6) {
            _NewPassword.focus();
            toastr["warning"]('New Password must greater than 6 charactor!');
            return false;
        }

        var _ConfirmPassword = $("#ConfirmPassword");
        if (_ConfirmPassword.val() == '' || _ConfirmPassword == undefined) {
            _ConfirmPassword.focus();
            toastr["warning"]('Confirm Password can not left blank!');
            return false;
        }

        if (_NewPassword.val() != _ConfirmPassword.val()) {
            _ConfirmPassword.focus();
            toastr["warning"]('NewPassword and Confirm Password mismatched!');
            return false;
        }

    }

    function FunSuccess(response) {
        if (response.Result)
            $("#divChangePassword").modal('hide');
        else
            toastr["warning"](response.Message);
    }

    function FunFailure() {
    }

</script>

