@model FHubPanel.Models.ManageUserViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<p class="text-info">
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>*@
<div class="login-box">
    <div class="login-logo">
        <a href="/Account/Login">Fashion<b>DIVA</b></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Create a new password</p>
        @using (Ajax.BeginForm("Manage", "Account", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "FunBegin", OnFailure = "FunFailure", OnSuccess = "FunSuccess" }, new { @class = "", id = "frmresetpassword", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Set Password" class="btn btn-primary btn-flat pull-right" />
                    @*<input type="button" value="Cancel" class="btn btn-default btn-flat" />*@
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["Success"]' != '')
            toastr["success"]('@TempData["Success"]');
        else if ('@TempData["Warning"]' != '')
            toastr["warning"]('@TempData["Warning"]');
        else if ('@TempData["Error"]' != '')
            toastr["error"]('@TempData["Error"]');
    })

    function FunBegin()
    {

    }
    function FunSuccess(response) {
        if (response.Result)
            window.location.href = "/Account/Login";
        else
            toastr["warning"](response.Message);
    }
    function FunFailure(ex, st, th) {
        toastr["error"](th);
    }
</script>