@using FHubPanel.Models;
@model  List<GroupContactsModel>

@using (Html.BeginForm("SaveContact", "ContactGroup", FormMethod.Post, new { @class = "", id = "frmcgangepwd" }))
{
    <div id="divAddContact" class="modal extended-modal fade no-display" tabindex="-1" data-width="800" data-height="400" style="z-index: 2000 !important">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-light-blue">

                    <button type="button" class="close" id="btnClose" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Contact List</h4>
                </div>
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12">

                            @Html.AntiForgeryToken()
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Contact Name</th>
                                        <th>Email Id</th>
                                        <th>Mobile No</th>
                                    </tr>
                                </thead>
                                <tbody style="overflow-y: scroll; max-height: 800px;">
                                    @Html.Hidden("RefGroupId")
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td>@Html.CheckBoxFor(model => model[i].InGroup, new { @class = "minimal" })</td>
                                            <td>@Html.DisplayFor(model => model[i].AUName)</td>
                                            <td>@Html.DisplayFor(model => model[i].EmailId)</td>
                                            <td>@Html.DisplayFor(model => model[i].MobileNo1)</td>
                                            @Html.HiddenFor(model => model[i].RefAUId)
                                            @Html.HiddenFor(model => model[i].RefVendorId)
                                        </tr>
                                    }

                                </tbody>
                            </table>

                            
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <input id="btnSave" type="submit" name="btnSave" class="btn btn-primary" value="Save" />
                </div>
                

            </div>
        </div>

    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

    });

    function ValidationCP() {
        //

        return true;
    }

</script>
<style type="text/css">
    .select2-dropdown {
        z-index: 2001 !important;
    }
</style>
