@model List<FHubPanel.Models.ProductModel>

<div class="content-wrapper" style="min-height: 946px;">

    <section class="content manageGrid">

        <div class="box box-primary">
            <div class="box-header">
                <div class="box-header with-border" style="cursor: move;">
                    <i class="@ViewBag.Icon"></i>
                    <h3 class="box-title"><b>@ViewBag.MasterType</b></h3>
                    <div class="box-tools pull-right">
                        <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <button id="btnCreateNew" name="btnCreateNew" class="btn btn-block btn-primary btn-flat" onclick="window.location.href = '/Product/Manage'; "> Create New</button>
                            </div>
                        </div>
                        <div class="col-md-7 pull-right">
                            <div class="form-group">
                                @*<label>Search :</label>*@
                                <input type="text" name="txtSearch" id="txtSearch" value="" class="form-control" placeholder="Search..." style="margin-top:3px"/>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-12 " style="margin-top: 10px;">
                    <div class="col-md-1 pull-left">
                        <div class="form-group">
                            <button id="btnFileFormat" name="btnFileFormat" class="btn btn-block btn-primary btn-flat" onclick="window.location.href = '/Product/FileFormatDownload'; " > <i class="fa fa-cloud-download"></i></button>
                        </div>
                    </div>

                    @using (Html.BeginForm("BulkProductData", "Product", FormMethod.Post, new { id = "ProductBulkUpload", @class = "", enctype = "multipart/form-data" }))
                    {
                        
                        <div class="col-md-2 pull-left">
                            <div class="form-group">
                                <button type="button" id="btnBulkProductUplod" name="btnBulkProductUplod" class="btn btn-block btn-primary btn-flat" ><i class="fa fa-file-excel-o"></i>  Excel Upload</button>
                                <input type="file" name="ExcelFile" id="ExcelFile" value=" " style="display:none" />
                                <input type="submit" name="btnSubmit" id="btnSubmit" value=" " style="display:none" />
                            </div>
                        </div>
                    }

                    <div class="col-md-2 pull-left">
                        <div class="form-group">
                            <button id="btnProductImgUplod" name="btnProductImgUplod" class="btn btn-block btn-primary btn-flat" onclick="ImageUpload('Products');" ><i class="fa fa-file-image-o"></i> Bulk Image Upload</button>
                        </div>
                    </div>

                 
                </div>
                

            </div>
        </div>

        <div class="box-body" id="productcontainer">

        </div>
        <div class="col-lg-12 text-center">
            <div id="progress" style="display:none">
                <img src="~/Content/dist/img/ajax-loader.gif" width="50" height="50" />
            </div>
        </div>

    </section>
</div>

<script type="text/javascript">
    var pageSize = 15;
    var pageIndex = 0;
    jQuery(document).ready(function () {

        if ('@TempData["Success"]' != '')
            toastr["success"]('@TempData["Success"]');
        else if ('@TempData["Warning"]' != '')
            toastr["warning"]('@TempData["Warning"]');
        else if ('@TempData["Error"]' != '')
            toastr["error"]('@TempData["Error"]');

        
        var _CategoryName = localStorage.getItem("CategoryName");
        if (_CategoryName != null && _CategoryName != "")
        {
            $('#txtSearch').val(_CategoryName);
            localStorage.setItem("CategoryName", '');
        }

        var _CatCodeSearch = localStorage.getItem("Catalogue");
        if (_CatCodeSearch != '' && _CatCodeSearch != null)
        {
            $("#txtSearch").val(_CatCodeSearch);
            localStorage.setItem("Catalogue", '');
        }

        GetData();
        $(window).scroll(function () {
            if ($(window).scrollTop() ==
               $(document).height() - $(window).height()) {
                GetData();
            }
        });
        //var timeout;
        $("#txtSearch").on("input", function () {
            // do stuff;
            delay(function () {
                pageIndex = 0;
                $("#productcontainer").empty();
                //var _Search = " <div class='col-md-12'>"
                //_Search += "<div class='col-md-3 pull-right'>"
                //_Search += "<div class='form-group'>"
                //_Search += "<label>Search :</label>"
                //_Search += "<input type='text' name='txtSearch' id='txtSearch' value='' class='form-control' />"
                //_Search += "</div>"
                //_Search += "</div>"
                //_Search += "</div>"
                //$("#categorycontainer").add(_Search);
                GetData();
            }, 1000);
        });
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $("#btnBulkProductUplod").on('click', function () {
            $("#ExcelFile").click();
        });

        $("#ExcelFile").on('change', function () {
            $("#ProductBulkUpload").submit();
        })

        //fillGrid();

        //
        //$('.minipic').jqzoom({
        //    zoomType: 'standard',
        //    lens: true,
        //    preloadImages: false,
        //    alwaysOn: false,
        //    zoomHeight: 200,
        //    zoomWidth: 200
        //});
    });


    function GetData() {
        var _txtsearch = $('#txtSearch').val();

        $.ajax({
            type: 'GET',
            async: false,
            url: '@Url.Action("AjaxHandler", "Product")',
            cahce: false,
            data: { Search: _txtsearch, "pageindex": pageIndex, "pagesize": pageSize },
            dataType: 'json',
            success: function (response) {
                
                if (response.Result == "OK") {
                    var data = response.data;
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            //var _pcName = data[i].ProdCategoryName != null && data[i].ProdCategoryName != '' ? data[i].ProdCategoryName : '-';
                            var _prodCode = data[i].ProdCode != null && data[i].ProdCode != '' ? data[i].ProdCode : '-';
                            var _prodDesc = data[i].ProdDescription != null && data[i].ProdDescription != '' ? data[i].ProdDescription : '-';
                            var _prodImg = data[i].ProdImgPath != null && data[i].ProdImgPath != '' ? data[i].ProdImgPath : '/Content/dist/img/ProductNoImage.png';
                            var _fullPath = data[i].FullImgPath != null && data[i].FullImgPath != '' ? data[i].FullImgPath : '/Content/dist/img/ProductNoImage.png';

                            var _strdata = "<div class='col-md-4' id=" + data[i].ProdId + " >";
                            _strdata += "<div class='box' style='min-height: 200px;'>";
                            _strdata += "<div class='box-body'>";
                            _strdata += "<div class='col-md-12'>";
                            _strdata += "<a href='javascript:void(0)' onclick='editSession(" + data[i].ProdId + ");'>";
                            _strdata += "<div class='col-md-6 pull-left' >";
                            _strdata += "<img src=" + _fullPath.split(' ').join('%20') + " class='minipic' style='max-width:100%;max-height:100%' alt='Entity Image' />";
                            _strdata += "</div>";
                            _strdata += "<div class='col-md-6'>";
                            _strdata += "<strong>" + data[i].ProdName + " (" + data[i].ProdCode + ") </strong>";
                            //_strdata += "<span>" + data[i].ServiceTypeName + "</span><br /><br />";
                            _strdata += "<span> " + data[i].RefProdType + "</span><br />";
                            _strdata += "<span> " + data[i].RefFabric + "</span><br />";
                            _strdata += "<span> " + data[i].RefDesign + "</span><br />";
                            _strdata += "<span>" + data[i].RefProdCategory + "</span><br />";
                            _strdata += "<span>" + _prodDesc + "</span><br />";
                            //_strdata += "<span>" + _state + "-" + _country + "</span><br /><br />";
                            //_strdata += "<span><strong>" + _contactperson1 + "</strong> - " + _mobile1 + "</span><br />";
                            //_strdata += "<span>" + _emaailId + "</span>";
                            _strdata += "</div>";
                            //_strdata += "<div class='col-md-9'>";
                            //_strdata += "<span>Rating</span>";
                            //_strdata += "</div>";
                            _strdata += "</a>"
                            _strdata += "</div>";
                            _strdata += "</div>";
                            //_strdata += "<div class=\"col-md-12 pull-right\">";
                            _strdata += " <div class='col-md-12 ' style=\"position: absolute;bottom: 15px !important; width: 100% !important;\">";
                            _strdata += "<i class='fa fa-trash-o pull-right' style='font-size: 18px; cursor:pointer;' data-original-title='Delete' title='Delete' onclick=\"Delete(" + data[i].ProdId + ")\"></i>";
                            _strdata += "</div>";
                            //_strdata += "</div>";
                            _strdata += "</div></div>";
                            $("#productcontainer").append(_strdata);
                        }
                        pageIndex++;
                    }
                }
                else {
                    toastr["error"](response.msg);
                }
                $("#progress").hide();
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                //$("#progress").hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#progress").hide();
                toastr["error"](errorThrown);
            }
        });
    }

    function editSession(_ID) {
        if (_ID != undefined && _ID != '') {
            $.ajax({
                type: 'post',
                dataType: 'json',
                cache: false,
                url: '@Url.Action("EditSession", "Product")',
                data: { Id: _ID },
                beforeSend: function () {
                    //
                    $("#ajaxLoader").show();
                },
                success: function (response, textStatus, jqXHR) {
                    
                    if (response.Result) {
                        window.location.href = '@Url.Action("Manage", "Product")';
                    }
                    else {
                        toastr["warning"](response._Message)
                    }
                    $("#ajaxLoader").hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    
                    toastr["error"](errorThrown);
                    $("#ajaxLoader").hide();
                }
            });
        }
        else
            toastr["error"]('No such record found!');
    }

    function Delete(_ID) {
        //
        if (_ID != undefined && _ID != '') {
            bootbox.confirm({
                size: 'small',
                message: "Are you sure delete Product?",
                buttons: {

                    'cancel': {
                        label: 'Cancel',
                        className: 'btn-default'
                    },
                    'confirm': {
                        label: 'Delete',
                        className: 'btn-danger'
                    }

                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: 'post',
                            dataType: 'json',
                            cache: false,
                            url: '@Url.Action("delete", "Product")',
                            data: { Id: _ID },
                            beforeSend: function () {
                                $("#ajaxLoader").show();
                            },
                            success: function (response, textStatus, jqXHR) {
                                if (response._result == true) {
                                    $("#" + _ID).remove();
                                    toastr["success"](response._Message);
                                    //fillGrid();
                                }
                                else {
                                    toastr["warning"](response._Message);
                                }
                                $("#ajaxLoader").hide();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {

                                //displayError(errorThrown);
                                toastr["error"](response._Message);
                                $("#ajaxLoader").hide();
                            }
                        });
                    }
                }
            })
        }
        else
            toastr["warning"]('No Delete Product Master.');
    }
</script>

